@import "../../node_modules/modern-normalize/modern-normalize.css";

:root {
  --main-color: #10cab7;
  --gray-background: #f6f6f6;
  --title-section: #ebeced;
  --paragraph-section: #797979;
  --main-padding: 60px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "";
}
