@import "../../node_modules/modern-normalize/modern-normalize.css";

:root {
  --main-color: #10cab7;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "";
}
